@page "/"
@rendermode InteractiveServer

<div class="container mt-4" style="max-width: 500px;">

    <h1 class="mb-3">Calculadora Web Blazor</h1>

    <div class="mb-3">
        <label class="form-label">Primeiro número:</label>
        <input class="form-control" @bind="Numero1" />
    </div>

    <div class="mb-3">
        <label class="form-label">Segundo número:</label>
        <input class="form-control" @bind="Numero2" />
    </div>

    <div class="d-flex justify-content-start gap-2 mb-4">
        <button class="btn btn-primary px-3" @onclick="CalcularSoma">+</button>
        <button class="btn btn-secondary px-3" @onclick="CalcularSubtracao">-</button>
        <button class="btn btn-success px-3" @onclick="CalcularMultiplicacao">*</button>
        <button class="btn btn-danger px-3" @onclick="CalcularDivisao">/</button>
    </div>

    @if (!string.IsNullOrEmpty(finalResultado))
    {
        <div class="alert alert-info">
            <h3 class="mb-0">Resultado: @finalResultado</h3>
        </div>
    }

</div>


@code {
    private string? Numero1;
    private string? Numero2;
    private string? finalResultado;

    private void CalcularSoma()
    {
        if (double.TryParse(Numero1, out double num1) && double.TryParse(Numero2, out double num2))
        {
            double resultado = num1 + num2;
            finalResultado = resultado.ToString("F2");
        }
        else
        {
            finalResultado = "Entrada(s) inválida(s).";
        }
    }

    private void CalcularSubtracao()
    {
        if (double.TryParse(Numero1, out double num1) && double.TryParse(Numero2, out double num2))
        {
            double resultado = num1 - num2;
            finalResultado = resultado.ToString("F2");
        }
        else
        {
            finalResultado = "Entrada(s) inválida(s).";
        }
    }

    private void CalcularMultiplicacao()
    {
        if (double.TryParse(Numero1, out double num1) && double.TryParse(Numero2, out double num2))
        {
            double resultado = num1 * num2;
            finalResultado = resultado.ToString("F2");
        }
        else
        {
            finalResultado = "Entrada(s) inválida(s).";
        }
    }

    private void CalcularDivisao()
    {
        if (double.TryParse(Numero1, out double num1) && double.TryParse(Numero2, out double num2))
        {
            if (num2 != 0)
            {
                double resultado = num1 / num2;
                finalResultado = resultado.ToString("F2");
            }
            else
            {
                finalResultado = "Erro: Divisão por zero.";
            }
        }
        else
        {
            finalResultado = "Entrada(s) inválida(s).";
        }
    }
}